#page--home {
  .hero {
    margin-top: 10em;
    @include mq($mq-medium) {
      margin-top: 5em;
    }
    @include no-select();
    align-items: center;
    display: flex;
    justify-content: space-between;

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -9000;

      &.mobile {
        width: 100%;
        height: 100vh;
        min-height: 800px;
        object-fit: cover;
      }
    }

    &__content {
      margin: 1%;
      @include mq($mq-small) {
        margin-left: 10%;
      }
      @include mq($mq-big) {
        margin: 0;
      }
      &-heading {
        color: white;
        font-size: clamp(3.5rem, 6vw, 5rem);
        margin: 0 0 0.25em 0;
        &:last-of-type {
          color: #ff0000;
        }
      }
      button {
        background-color: white;
        border: none;
        padding: 0.8em 2em;
        font-weight: bold;
        font-size: 1.2rem;
        border-radius: 2em;
        margin-top: 2em;
        cursor: pointer;
      }
    }

    &__svg {
      margin-right: 10%;
      @include mq($mq-big) {
        margin: 0;
      }
      height: clamp(200px, 40vw, 600px);
    }
  }
}
