$mq-small: 721px;
$mq-medium: 1081px;
$mq-big: 1201px;

$font-primary: "Roboto", sans-serif;

//Easing timing for animations
$easing: cubic-bezier(0.645, 0.045, 0.355, 1);

$generic-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
  rgba(0, 0, 0, 0.1) 0px 4px 11px;
